.hover-scale {
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.card-body {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

@keyframes btnAnimation {
  from {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}

.btn.inactive:hover:not(.active) {
  background-color: #125491;
}

.btn {
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-name: btnAnimation;
  width: 100px;
  background-color: #12916b;
  filter: none;
  border-color: white;
}

@keyframes btnDislikeAnimation {
  from {
    transform: translate(0, 0) rotate(0deg);
    background-color: #12916b;
    border-color: white;
  }

  40% {
    transform: translate(0, 8px) rotate(180deg);
    background-color: rgb(143, 32, 56);
    border-color: white;
  }

  50% {
    transform: translate(0, 15px) rotate(180deg);
    background-color: rgb(143, 32, 56);
    border-color: white;
  }

  60% {
    transform: translate(0, 8px) rotate(180deg);
    background-color: rgb(143, 32, 56);
    filter: drop-shadow(0 0 0.3rem crimson);
    border-color: white;
  }

  to {
    transform: translate(0, 0) rotate(360deg);
  }
}

.btn.active {
  background-color: #12916b;
  filter: drop-shadow(0 0 0.3rem rgb(20, 220, 110));
  border-color: white;
}

.btn.inactive {
  animation-name: btnDislikeAnimation;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  background-color: transparent;
  border-color: white;
}

.card{
  background-color: rgba(2, 12, 26, 0.445);
  filter: grayscale(100%);
  transition: 300ms ease-in-out;
  animation-play-state: paused;
  animation: rotateOut 200ms linear;
  animation-iteration-count: 1;
}
.card:hover{
  animation: rotateIn 200ms linear;
  filter: grayscale(0%);
  transition: 300ms ease-in-out;
  animation-iteration-count: 1;

}

.card-img-glow{
  position: absolute;
  z-index: -2;
  filter: blur(40px);
  opacity: 0;
  transition: 300ms ease-in-out;
}

.card:hover > .card-img-glow{
  opacity: 0.5;
  transition: 300ms ease-in-out;
}

.card-text{
  max-height: 0px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.card:hover > .card-body > .card-body-ul > .list-group-item > .card-text,
.card:hover > .card-body > .card-body-ul > .list-group-item > .creator-info{
  max-height: 250px;
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.creator-info{
  max-height: 0px;
  position: relative;
  right: 32%;
  bottom: 40px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.datetime{
  margin-top: 15px;
  margin-bottom: 0px;
  color: rgba(255,255,255,0.4);
}

.button-group{
  margin-top: 10px;
}