.hover-scale {
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.card-body {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

@keyframes btnAnimation {
  from {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}

.btn.inactive:hover:not(.active) {
  background-color: var(--bs-primary);
}

.btn {
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-name: btnAnimation;
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}

@keyframes btnDislikeAnimation {
  from {
    transform: translate(0, 0) rotate(0deg);
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }

  50% {
    transform: translate(0, 8px) rotate(180deg);
    background-color: red;
    border-color: white;
  }

  to {
    transform: translate(0, 0) rotate(360deg);
  }
}

.btn.active {
  background-color: var(--bs-success);
  border-color: white;
}

.btn.inactive {
  animation-name: btnDislikeAnimation;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  background-color: transparent;
  border-color: white;
}
