body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-body.d-flex {
  flex-direction: row;
}

@media (max-width: 600px) {
  .card-body.d-flex {
    flex-direction: column;
  }
}

.stretch,
.card {
  min-height: 100%;
}
